body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 70vh;
  width: 100%;
}


ul li::before {
  content: "\25A3";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: ;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul li.red::before {
  color: red;
}
ul li.green::before {
  color: green;
}
ul li.blue::before {
  color: blue;
}

